@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-pulse-slow {
  animation: pulse-slow 2s ease-in-out infinite;
}

@keyframes text-glow {
  0%,
  100% {
    text-shadow:
      0 0 5px #ff6200,
      0 0 10px #8a0087;
  }
  50% {
    text-shadow:
      0 0 10px #ff6200,
      0 0 20px #8a0087;
  }
}

.animate-text-glow {
  animation: text-glow 2.5s ease-in-out infinite;
}

@keyframes pulse-slow {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shineEffect {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  animation: shineEffect 3s linear infinite;
}

/* Estilos para el hover */
.shine-effect:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
