@tailwind base;
@tailwind components;
@tailwind utilities;

@property --glow-deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: -90deg;
}

@property --clr-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: #B40078;
}

@property --clr-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #5C0087;
}

@property --clr-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: #FF8000;
}

@property --clr-4 {
  syntax: "<color>";
  inherits: true;
  initial-value: #2E005D;
}

@property --clr-5 {
  syntax: "<color>";
  inherits: true;
  initial-value: #007A8A;
}

@layer components {
  .glowing-border {
    --gradient-glow: var(--clr-1), var(--clr-2), var(--clr-3), var(--clr-4),
      var(--clr-5), var(--clr-1);
    --border-width: 3px;
    --glow-size: 1rem;
    --surface: #1a1a1a;

    border: var(--border-width) solid transparent;
    border-radius: 9999px;
    background: linear-gradient(var(--surface, canvas) 0 0) padding-box,
      conic-gradient(from var(--glow-deg), var(--gradient-glow)) border-box;

    position: relative;
    isolation: isolate;
    animation: glow-animation 10s infinite linear;
  }

  @keyframes glow-animation {
    100% {
      --glow-deg: 270deg;
    }
  }

  .glowing-border::before,
  .glowing-border::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }

  .glowing-border::before {
    z-index: -1;
    inset: 0.5rem;
    scale: 1.2 1;
    transform-origin: right;
    filter: blur(var(--glow-size));
  }

  .glowing-border::after {
    z-index: -2;
    inset: -1.5rem;
    background: conic-gradient(from var(--glow-deg), var(--gradient-glow));
    filter: blur(var(--glow-size));
    opacity: var(--glow-intensity, 0.125);
  }

  .glowing-border.right {
    margin-inline-start: auto;
  }

  .glowing-border.right::before {
    transform-origin: left;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s ease-in-out infinite;
}

@keyframes text-glow {
  0%,
  100% {
    text-shadow:
      0 0 5px #ff6200,
      0 0 10px #8a0087;
  }
  50% {
    text-shadow:
      0 0 10px #ff6200,
      0 0 20px #8a0087;
  }
}

.animate-text-glow {
  animation: text-glow 2.5s ease-in-out infinite;
}

@keyframes pulse-slow {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shineEffect {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  animation: shineEffect 3s linear infinite;
}

/* Estilos para el hover */
.shine-effect:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
